@charset "utf-8";
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	font-family: metamorphous, serif;
	font-style: normal;
	font-weight: 400;
}
.navbar .navbar-collapse {
	text-align: center;
	font-size: 2em;
}
.navbar-header {
	display: inline-block;
	float: none;
	font-family: metamorphous, serif;
	font-style: normal;
	font-weight: 400;
}
.navbar-brand {
	text-align: center;
	font-size: 2em;
}
.navbar-inner {
	background-color: transparent;
	background-image: -webkit-linear-gradient(270deg, rgba(187,145,0,1.00) 0%, rgba(255,255,255,0.00) 100%);
	background-image: -moz-linear-gradient(270deg, rgba(187,145,0,1.00) 0%, rgba(255,255,255,0.00) 100%);
	background-image: -o-linear-gradient(270deg, rgba(187,145,0,1.00) 0%, rgba(255,255,255,0.00) 100%);
	background-image: linear-gradient(180deg, rgba(187,145,0,1.00) 0%, rgba(255,255,255,0.00) 100%);
}
h1 {
	text-align: center;
	font-style: normal;
	font-family: 'uncial-antiqua', cursive;
	font-size: 5em;
}
.asideLeft {
	width: 20%;
	float: left;
	margin: 50px;
}
.asideRight {
	width: 20%;
	float: right;
	margin: 50px;
}
.introduction {
	width: 50%;
	float: none;
	padding-top: 5px;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-bottom: 2.5%;
	margin: auto;
	margin-bottom: 100px;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
}
h2 {
	font-family: 'Uncial Antiqua', cursive;
	font-size: 2.5em;
}
h3 {
	font-family: 'Uncial Antiqua', cursive;
	font-size: 1.5em;
}
body {
	background-color: #9B9B9B;
	background-image: url(images/bkgd.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
p {
	font-family: metamorphous, serif;
	font-size: medium;
}
footer {
	font-family: metamorphous;
	text-align: center;
	font-size: small;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
	padding-top: 31px;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0.00) 0%, rgba(187,145,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,0.00) 0%, rgba(187,145,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,0.00) 0%, rgba(187,145,0,1.00) 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(187,145,0,1.00) 100%);
}
.charsheet {
	width: 50%;
	padding-top: 1px;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-bottom: 2.5%;
	margin: auto;
	margin-bottom: 100px;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
}
.charname, .charexp {
	font-family: metamorphous;
	font-size: 1.2em;
	display: inline-block;
	width: 45%;
	text-align: center;
}
.charname {
	float: left;
}
.charexp {
	float: right;
}
.abilities {
	display: block;
	padding-top: 50px;
}
.bio {
	display: block;
	padding-top: 50px;
}
.charinfo {
	display: block;
}
.coding {
	float: left;
	font-family: metamorphous;
	font-size: 1.2em;
	display: inline-block;
	width: 45%;
	text-align: center;
}
.design {
	float: right;
	font-family: metamorphous;
	font-size: 1.2em;
	display: inline-block;
	width: 45%;
	text-align: center;
}

@media (max-width: 1403px) {
h2 {
	font-size: 2em;
}
}
.portfolio {
	width: 100%;
}
.carousel-inner {
	width: 100%;
}
.portfolio {
	width: 50%;
	padding-top: 0.5%;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-bottom: 2.5%;
	margin: auto;
	margin-bottom: 100px;
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
}
.inquire {
	font-family: metamorphous, serif;
	font-size: medium;
}
input {
	float: none;
}
.inquirem {
	position: fixed;
	left: 0;
	bottom: 5%;
	width: 25%;
}
.inquiref {
	position: fixed;
	right: 0;
	bottom: 5%;
	width: 25%;
}
.mithleft {
	position: fixed;
	left: 0;
	bottom: 5%;
	width: 25%;
}
.mithright {
	position: fixed;
	right: 0;
	bottom: 5%;
	width: 25%;
}

.centerthis {
	text-align: center;
}
